body {
    font-family: 'Inconsolata', monospace;
    background-color: #F37020;
    background-image: url("images/bluthsAnimated.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    margin-left: 50px;
}

#logo {
    width: 50%;
}

.form-control {
    width: 25%;
}

#gifs-appear-here {
    flex-direction: row;
    justify-content: center;
}

#buttons {
    margin: 20px;
}