body {
    font-family: 'Inconsolata', monospace;
    background-color: #F37020;
    text-align: center;
}

.logo {
    width: 50%;
}

.header{
    position: sticky;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: bold;
}

#addCharacter {
margin-bottom: 10px;    
}

#gifs-appear-here {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

#buttons {
    padding: 20px;
}

img {
    margin-left: 5px;
    margin-right: 5px;
}

#footerImage {
    width: 60%;
    height: 60%;
    position: sticky;
    bottom: 0;
}